*.o
*.so
*~
*.orig
*.log
*.a
*.swp
*.pyc
*-log.txt
a.out
core
cscope.in.out
cscope.po.out
cscope.out
tags
/bin
/build
deploy/deploy_platform/bin
deploy/deploy_platform/lib
.vscode
!CMakeLists.txt
cmake-build-debug/
deps/search_sf/
